1. 

a = [10,20,30,50,100] 


find the mean(average) for above values 

average formula = sum/ no of values

2.


take ur name as input and remove vowels from them [vowerls means (aeiouAEIOU)]

EX : input = sai kamal 

expected output = skml

3.

take ur name as input and print vowels from them [vowerls means (aeiouAEIOU)]

EX : input = sai kamal 

expected output = ai

4.


Which of these about a set is not true?

a) Mutable data type
b) Allows duplicate values
c) Data type with unordered values
d) Immutable data type

5.

Task : Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.


Sample Output =  15  
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

6.


Task : Write a Python program to find if a given string starts with a given character using Lambda. 

Sample Output:
True
False

7. 



Task : Write a Python Programme to calculate the number of Digits and Letters in a string

8.

Task :

Write a Python Programme to find the values Divisible by 5 and 3 from 15 to 50 

sample output = 15,30,45

9.

Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters

10 . Write a Python program to move spaces to the front of a given string



ex:
input = sai kamal
output = ' saikamal'

### Guys complete this assignment and upload in ur github by creating a repository and share me the link after completing

In [3]:
#1

a=[10,20,30,50,100]
average=sum(a)/len(a)
print(average)

42.0

In [17]:
#2

string='sai krishna'
vowels=['a','e','i','o','u','A','E','I','O','U']
result=""
for i in range(len(string)):
    if string[i] not in vowels:
        result=result+string[i]
        
result=result.replace(" ","")
print(result)

skrshn

In [16]:
#3

string='sai krishna'
vowels=['a','e','i','o','u','A','E','I','O','U']
result=""
for i in range(len(string)):
    if string[i] in vowels:
        result=result+string[i]
        
result=''.join(dict.fromkeys(result))
print(result)

ai

In [ ]:
#4

4. immutable data type

In [20]:
#5

def sai(a):
    print("Double the given number:",a*2)
    print("Triple the given number:",a*3)
    print("Quarduple the given number:",a*4)
    print("Quintuple the given number:",a*5)

sai(15)

Double the given number: 30
Triple the given number: 45
Quarduple the given number: 60
Quintuple the given number: 75

In [48]:
#6

string=lambda x: True if x.startswith('S') else False
print(string('Sai'))
string1=lambda x: True if x.statswith('S') else False
print(string('Krishna'))

True
False

In [31]:
#7 

string="python1234"
total_digits=0
total_letters=0
for i in string:
    if i.isdigit():
        total_digits=total_digits+1
    elif i.isalpha:
        total_letters=total_letters+1
    else:
        pass

print("total digits:",total_digits)
print("total letters:",total_letters)

total digits: 4
total letters: 6

In [39]:
#8

a=[]
for i in range(15,50):
    if i%5==0:
        if i%3==0:
            a.append(i)
            
        
print(a)

[15, 30, 45]

In [46]:
#9

def sai_krishna(input):
    uppercaseletter=0
    for i in input[:4]:
        if i==i.upper():
            uppercaseletter=uppercaseletter+1
    if uppercaseletter>=2:
        return input.upper()
    return input
        
    
print(sai_krishna('Saikrishna'))
print(sai_krishna('SaiKrishna'))

Saikrishna
SAIKRISHNA

In [43]:
#10

def sai_krishna(input):
    no_spaces=[i for i in input if i!=' ' ]
    no_of_spaces=len(input)-len(no_spaces)
    spaces=' '*no_of_spaces
    result="'"+spaces+''.join(no_spaces)+"'"
    print(result)
    
sai_krishna('sai krishna')

' saikrishna'