In [1]:
a=12
print(a)
print(type(a))

12
<class 'int'>

In [2]:
a=54.45
print(a)
print()
print(type(a))

54.45

<class 'float'>

In [3]:
b=sai krishna
print(b)
print()
print(type(b))

SyntaxError: invalid syntax (4263176576.py, line 1)

In [4]:
b='sai krishna'
print(b)
print()
print(type(b))

sai krishna

<class 'str'>

In [5]:
12sai=krishna
print(12sai)

SyntaxError: invalid syntax (3609669453.py, line 1)

In [6]:
sai12=krishna
print(sai12)

NameError: name 'krishna' is not defined

In [7]:
sai12='krishna'
print(sai12)

krishna

In [8]:
sai_12='kesana'
print(sai_12)

kesana

In [9]:
Sai='data science'
print(Sai)

data science

In [10]:
a=12
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))

12
<class 'int'>
12.0
<class 'float'>

In [12]:
a=12.56
print(a)
print(type(a))
print()
b=int(a)
print(b)
print(type(b))

12.56
<class 'float'>

12
<class 'int'>

In [13]:
a=45
print(a)
print(type(a))
print()
b=str(a)
print(b)
print(type(b))

45
<class 'int'>

45
<class 'str'>

In [14]:
c=34.42
print(c)
print(type(c))
print()
d=str(c)
print(d)
print(type(d))

34.42
<class 'float'>

34.42
<class 'str'>

In [15]:
a='sai'
print(a)
print(type(a))
print()
b=int(a)
print(b)
print(type(b))

sai
<class 'str'>

ValueError: invalid literal for int() with base 10: 'sai'

In [16]:
12==12

True

In [20]:
12!=45

True

In [21]:
a=22
b='sai krishna'
c='hyderabad'
print('My name is',b,'and my age is',a,', i am living in',c)

My name is sai krishna and my age is 22 , i am living in hyderabad

In [22]:
print('My name is '+b+' and my age is '+a+' i am living in '+c)

TypeError: can only concatenate str (not "int") to str

In [23]:
print('My name is '+b+' and my age is '+str(a)+' i am living in '+c)

My name is sai krishna and my age is 22 i am living in hyderabad

In [24]:
print('My name is'+' '+b+' '+'and my age is'+' '+str(a)+' '+'i am living in'+' '+c)

My name is sai krishna and my age is 22 i am living in hyderabad

In [25]:
print('My name is %s and my age is %d i am living in %s'%(b,a,c))

My name is sai krishna and my age is 22 i am living in hyderabad

In [26]:
print('My name is {} and my age is {} i am living in {}'.format(b,a,c))

My name is sai krishna and my age is 22 i am living in hyderabad

In [30]:
print(f'My name is {b} and my age is {a} i am living in {c}')

My name is sai krishna and my age is 22 i am living in hyderabad